.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

h2 {
  text-align: left;
}

.song-row__item {
  background-color: #282c34;
  color: white
}

.song-item-row {
  background-color: rgb(191, 178, 178);
}

.song-item-row:nth-child(even) {
  background-color:  lightgrey;
}

.rock-song-row__item {
  background-color: red;
  color: white;
}

.pop-song-row__item {
  background-color: green;
  color: white;
}

.classic-song-row__item {
  background-color: darkblue;
  color: white;
}

.song-form {
  text-align: center;
  background-color: #282c34;
}

.song-form input, .song-form select, filter-form input, filter-form select {
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 20px 10px;
  font-size: 16px;
  color: #444;
}

button {
  border: 1px solid lightgrey;
  background: lightgrey;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 250px;
  margin: 20px 10px;
  border-left: 0;
  color: #444;
  float: right;
}

.song-form value {
  padding: 10px 20px;
  margin: 20px 10px;
  font-size: 16px;
  background: lightgrey;
}

table {
  table-layout: fixed;
}